slider {
    cursor: e-resize;
    height: 2em;
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
    color: white;
    --progress: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    
    --slider-color: rgba(255, 255, 255, 0.2);
    --slider-bkg: transparent;
    
    background: linear-gradient(to right, var(--slider-color) var(--progress), var(--slider-bkg) var(--progress));
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0.5rem 0;
}

slider::selection {
    background-color: greenyellow;
}